{% extends 'index.html' %} 
{% block title %}
DoctorSmiling - Tests
{% endblock title %}
{% block body %}
{% if l_test %}


<div class="arxafon mt-3 py-3 px-4">
    <div class="sira">{{id}}</div>
    <div class="row">


        <div class="sual col-12 text-center text-primary">
            <h2> {{l_test.title}} </h2>
        </div>


    </div>
    <hr style="width:80%">

    <div class="row">
        <div class="col variantlar">
            {% for result in results %}
            <div class="row">
                <div class="col ">

                    {% if result == l_test.answer %}
                    <form  action='/correct/{{id}}/{{l_test.answer}}'  method="POST">
                        <button id="d1" class="var w-100 text-left text-center text-success" type="submit" name='{{l_test}}'>
                            {{l_test.answer}}
                        </button>
                    </form>
                    {% else %}
                    <form action="{{id}}">
                        <button id="d1" class="var w-100 text-left text-center text-success" type="submit">{{result}}</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col">

                    {% if id>1 %}
                    <form action="{{id-1}}">

                        <button type="submit" class="btn btn-warning float-left col-6">
                            <i class="fas fa-angle-left "></i>
                        </button>
                    </form>
                    {% endif %} {% if id
                    <counts %} <form action="{{id+1}}">

                        <button type="submit" class="btn btn-secondary float-right col-6 ">
                        <i class="fas fa-angle-right " ></i>
                        </button>
                        </form>
                        {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <form action="/punctuation_1/{{l_test.id}}" method="POST">
                        <button type="submit" class="btn btn-light  float-left col-5" name='button1'>
                            <i class="fas fa-exclamation text-danger "></i>
                        </button>
                    </form>
                    <a href="https://dictionary.cambridge.org/tr/s%C3%B6zl%C3%BCk/ingilizce/{{l_test.title}}" target="_blank">
                        <button type="button" class="btn btn-danger float-left col-2">
                        <i class="fas fa-eye"></i>
                    </button>
                    </a>
                    <form action="/punctuation_2/{{l_test.id}}" method="POST">
                        <button type="submit" class="btn btn-light float-left col-5" id='circle_question' name='button2'>
                        <i class="fas fa-question-circle text-warning "></i>
                    </button>
                    </form>
                </div>
            </div>








        </div>
    </div>
</div>
{% else %}
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTed1ZdxdBAeRYrYI8Zq7IGF3SjX7G_NOmlIfwcdCWltfmfCC7V&usqp=CAU" alt="" class='w-100 mt-5'>
<p>
<h1>
A1 Merhelesi Bitdi Yeniden baslamaq ucun duymeye basiniz
</h1>
<button>

<a href="/test/1">Yeniden Basla</a>

</button>
</p>


{% endif %} {% endblock body %}